---
import BaseLayout from '../../layouts/BaseLayout.astro';
import type { GetStaticPaths } from "astro";
import { getCollection } from 'astro:content';
import MarkdownPostLayout from '../../layouts/MarkdownPostLayout.astro';


export const getStaticPaths = (async ({ paginate }) => {
  const posts = (await getCollection('posts')).sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
    );
  return paginate(posts, { pageSize: 2 });
}) satisfies GetStaticPaths;



const { page } = Astro.props;
const pageTitle = `Blog Page ${page.currentPage}`;
---



<BaseLayout pageTitle={pageTitle}>
  <h2>{pageTitle}</h2>

    <ul>
    {
      page.data.map((p) => (
        <li>
          <a href={`/posts/${p.slug}/`}>Read {p.data.title}</a>
        </li>
      ))
    }
  </ul>

  <div>
    {page.url.prev && <a href={page.url.prev}>Previous</a>}
    {page.url.next && <a href={page.url.next}>Next </a>}
  </div>
</BaseLayout>